@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
     padding: 0rem 1rem;
     background-color: #f0e56a;
}
textarea{
    width: 50%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
    display: block;
}
h1{
    color:white;
}
#output{
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
    height: 10vh;
    border: 1px solid black;
}
.img{
    width: 15%;
}
div{
    text-align: center;
}

#btn-translate
{
    padding:1rem;
    background-color: #f0e56a;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border:0;
    font-size: 1rem;
}
